@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}

#root {
  min-height: 100vh;
}

/* Sleek Dark Mode Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #334155; /* Tailwind slate-700 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* Tailwind slate-600 */
}

/* Firefox compatibility */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}